{% extends "blog/base.html" %}
{% block content %}
  {% for p in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ p.author.profile.image.url }}">
      <div class="media-body">
        <a class="mr-2" href="#"> {{ p.author }}</a>
        <small class="text-muted">{{ p.date_posted|date:"F d, Y" }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'post-detail' p.id %}">{{ p.title }}</a></h2>
      <p class="article-content">{{ p.content }}</p>
    </article>
  {% endfor %}
{% endblock content %}
